.footer-bottom {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
  font-weight: bold;
}


@media(max-width:500px){
  .footer-bottom{
    font-size: 13px;
  }
}