.head {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      font-size: 18px;
      text-transform: capitalize;
      color: var(--main-color);
      font-family: sans-serif;
      display: flex;
      align-items: center;
      gap: 3px;
    }
  }
}
