.top-bar {
  background-color: #bed7d9;
  color: #1f2937;
  font-size: 0.875rem;
}
.top-bar .container {
  display: flex;
  gap: 0.75rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem ;
}

.top-bar-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.top-bar-links a {
  font-size: 13px;
  text-decoration: none;
  color: inherit;
}

.top-bar-links a:hover {
  text-decoration: underline;
}

.top-bar-free-shipping {
  font-weight: 400;
  text-align: center;
}

.top-bar-language select {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


@media (max-width:991px){
  .top-bar .container{
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .topBar-links{
    display: none;
  }
}
