.product-card {
  background-color: white;
  width: 100%;
  padding: 10px 10px 30px;
  margin-block: 20px;
  margin-inline: 8px;
  position: relative;
  width: fit-content;
  border-radius: 14px;
  transition: transform 0.3s ease;
  border: 1px solid #f3f3f3;

  &:hover {
    transform: translateY(-10px);
  }
  .add-fiv {
    z-index: 111;
    background-color: var(--secondary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    position: absolute;
    top: -10px;
    right: -10px;
    outline: 10px solid #fafafa;
    svg {
      color: white;
      transition: color 0.1s ease;
    }
    &:hover svg {
      color: var(--main-color);
    }
  }
  img {
    /* width: 190px; */
    max-width: 100%;
  }
  .info {
    text-align: center;
    .title {
      width: 170px;
      margin-top: 12px;
      font-size: 1rem;
      text-transform: capitalize;
    }
    .price {
      font-weight: bold;
      color: var(--main-color);
      margin-block: 16px;
    }
    button {
      background-color: var(--main-color);
      color: white;
      width: 100%;
      padding: 7px;
      border-radius: 8px;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
