.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  display: flex;
  justify-content: center;
}

.emptyMessage {
  text-align: center;
  font-size: 9rem;
  color: #777;
  margin: 20px 0;
}
